@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
:root {
  --logo-color: #F58C1E;
  --text-color: #48494b;
  
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  
}

/* nav */
nav {
  color: var(--logo-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 800;
  width: 100%;
  padding: 0.2rem 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: end;
}

nav > div, nav ul {
  width: 20rem;
}

#text-logo {
  width: 15rem;
  box-sizing: border-box;
}

#bot-logo {
  width: 8rem;
}

/* Hero Section */
/* Hero Section */
.hero {
  position: relative; /* Change to relative to provide a stacking context */
  width: 100%;
}

.hero video {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1; /* Ensure video is behind the text */
}

.hero > div {
  position: absolute;
  top: 50%; /* Center text vertically */
  left: 50%; /* Center text horizontally */
  transform: translate(-50%, -100%); /* Adjust for proper centering */
  z-index: 2; /* Ensure text is above the video */
  color: white; /* Set text color to ensure visibility over video */
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: background for readability */
  border-radius: 10px; /* Optional: rounded corners */
}

section {
  padding: 1rem;
  min-height: 90vh;
  box-sizing: border-box;
}
