@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
:root {
  --logo-color: #F58C1E;
  --text-color: #48494b;
  
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  
}

/* nav */
nav {
  color: var(--logo-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 800;
  width: 100%;
  padding: 0.2rem 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: end;
}

nav > div, nav ul {
  width: 20rem;
}

#text-logo {
  width: 15rem;
  box-sizing: border-box;
}

#bot-logo {
  width: 8rem;
}

/* Hero Section */
.hero {
  position: relative; /* Change to relative to provide a stacking context */
  width: 100%;
}

.hero video {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

